.tables{
  padding-top: 10px;
    .name{
      border-bottom: 1px dotted #ccc;
      cursor: pointer;

    }
    thead{
      background: rgb(95, 155, 233);
      tr{
        color: white
      }
    }
  }

.btn-action{
  text-align: center;
}

.content{
  display: flex;
  justify-content: space-between;
  padding: auto;
}